.about_section-image {
    border-radius: 50%;
    overflow: hidden;
    transform: skew(15deg);
    transition: var(--transition);
}

.about_section-image:nth-child(2) {
    transform: skew(15deg);
}
.about_section-image:hover {
    transform: skew(0);
}

.about_section-content h1 {
    margin-bottom: 2rem;
}

.about_section-content p {
    margin-bottom: 1rem;
}

.about_story-container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.about_Vision-container {
    display: grid;
    grid-template-columns:  50% 40%;
    gap: 10%;
}
